<!doctype html>
<html>
<head>
    <title>User registration</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=divice-width" />
</head>

<body>
    <form method="post" action="~/Home/ProceedResult">
        @for (int i = 0; i < 3; i++)
        {
        <div class="user">
            <h3>User N@(i + 1)</h3>
            <p>
                <label>Name</label><br />
                <input type="text" name="users[@i].Name" />
            </p>
            <p>
                <label>Surname</label><br />
                <input type="text" name="users[@i].Surname" />
            </p>
            <p>
                <label>Age</label><br />
                <input type="number" name="users[@i].Age" />
            </p>
        </div>
        }
        <p>
            <input type="submit" value="Registration All" />
        </p>              
    </form>
</body>
</html>