@model Product

@{
    Layout = "_BasicLayout";
    ViewBag.Title = "Product Name";
}
Product Name: @Model.Name

@*<!DOCTYPE html>
<html>
<head>
    <meta name=" viewport" content="width=device - width" />
    <title>Index</title>
</head>
<body>
    @Model.Name
</body>
</html>*@
