<!doctype html>
<html>
<head>
    <link href="~/style.css" rel="stylesheet">
    <title>@ViewData["company"]</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h1> @ViewData["company"]   </h1>
    <h2> @ViewData["employees"]   </h2>
    <h2> @ViewData["totalSalary"]   </h2>
    </body>
</html>
