<!doctype html>
<html>
<head>
    <title>User registration</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=divice-width" />
</head>

<body>
    <form method="post" action="~/Home/ProceedResult">
        <label>Name</label><br />
        <input type="text" name="name" /><br />
        <label>Surname</label><br />
        <input type="text" name="surname" /><br />
        <label>Age</label><br />
        <input type="number" name="age" /><br />
        <input type="submit" value="Registration" />
    </form>
</body>
</html>