@model IEnumerable<string>
@{
    Layout = null;
}
<!DOCTTPE html>
    <html">
        <head>
           
            <meta name="viewport" content="width=device - width "/>
            <title>Language Features</title>
        </head>
    <body>
        <ul>
            @foreach (var item in Model)
            {
            <li> @item</li>
            }
        </ul>
    </body>
    </html>