@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name=" v iewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

    <div class="text-center">
        @ViewBag.Greeting My Friend</br></br>
        <hЗ>We're going to have an exciting weeding party!</hЗ>
        <h4>And you are invited</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>

    </div>
</body>
</html>